In [19]:
import json
import csv
import tweepy
import re
import nltk
from nltk.stem import WordNetLemmatizer
import pandas as pd
import GetOldTweets3 as got
from nltk.corpus import stopwords
stopwords = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

In [20]:
consumer_key = input()
consumer_secret = input()
access_key = input()
access_secret = input()

Jj52ijmLikNTLD3qRXSyFo2bW
XQ3VyYt0LG5W4sotm4LfpvA99dd0KCuiD9tSZVf62Lsb02SSIJ
1038621976934281216-y2s3U70cy3WlUWXjx4U2uUJbfaw6LD
zthp70cGjzb7VVK7cfArUuYZz7OG5KxwgJ9SG2tixhl9s

In [ ]:
text_query = 'coronavirus'
since_date = '2019-08-01'
count = 15000
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setLang('en').setMaxTweets(count)
# Creation of list that contains all tweets
tw = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.text] for tweet in tw]

In [4]:
len(text_tweets)

18679

In [ ]:
text_query = 'covid19'
since_date = '2019-08-01'
count = 10000
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).seLang('en').setMaxTweets(count)
# Creation of list that contains all tweets
tw2 = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tw = [[tweet.text] for tweet in tw2]

In [7]:
len(text_tw)

10815

In [8]:
tweets_final = text_tweets + text_tw

In [10]:
tweets_df = pd.DataFrame(tweets_final)

In [14]:
tweets_df.columns = ['Tweet_text']

In [15]:
tweets_df

                                              Tweet_text
0      Nordic states are boosting already generous pa...
1      Coronavirus ile ilgili Londra'da yaşayan ,eski...
2      Government memo asks care workers to downgrade...
3      Please join @BBBTriCounties tomorrow at noon t...
4      .@timkaine runs down the statistics that show ...
...                                                  ...
29489  We can't muck this up. We are a laughing stock...
29490  Director general of directorate general of hea...
29491  Evolución #COVID19 en área Vigo Fuente: Inform...
29492  How to rebuild and reimagine jobs amid the cor...
29493  How has the lockdown changed in England? @KayB...

[29494 rows x 1 columns]

In [ ]:
text_query = 'SARSCoV2'
since_date = '2019-08-01'
count=10000
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setLang('en').setMaxTweets(count)
# Creation of list that contains all tweets
tw3 = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tw3 = [[tweet.text] for tweet in tw3]