In [49]:
import numpy
import pandas as pd
import re

In [6]:
wfh = pd.read_csv("../Datasets/WFH_all.csv")

In [7]:
ol = pd.read_csv("../Datasets/OL.csv")

In [9]:
cities = pd.read_csv("../Datasets/cities.csv")

In [212]:
city_country = {}

In [213]:
countries = [string.lower() for string in list(cities['country'])]
subcountries = [string.lower() for string in list(cities['subcountry'])]
city = [string.lower() for string in list(cities['name'])]
abb1 = [str(string).lower() for string in list(cities['abb1'])]
abb2 = [str(string).lower() for string in list(cities['abb2'])]

In [214]:
for i in range(len(subcountries)):
    if(subcountries[i].lower() not in city_country):
        city_country[subcountries[i].lower()] = countries[i].lower()
    if(city[i] not in city_country):
        city_country[city[i]] = countries[i].lower()
    if(abb1[i] not in city_country):
        city_country[abb1[i]] = countries[i].lower()
    if(abb2[i] not in city_country):
        city_country[abb2[i]] = countries[i].lower()
    city_country[countries[i]] = countries[i]

In [215]:
locations = [str(string).lower() for string in list(wfh['location'])]

In [216]:
country_column = []

In [217]:
len(locations)

41349

In [218]:
city

['les escaldes',
 'andorra la vella',
 'umm al qaywayn',
 'ras al-khaimah',
 'khawr fakkān',
 'dubai',
 'dibba al-fujairah',
 'dibba al-hisn',
 'sharjah',
 'ar ruways',
 'al fujayrah',
 'al ain',
 'ajman',
 'adh dhayd',
 'abu dhabi',
 'zaranj',
 'taloqan',
 'shīnḏanḏ',
 'shibirghān',
 'shahrak',
 'sar-e pul',
 'sang-e chārak',
 'aībak',
 'rustāq',
 'qarqīn',
 'qarāwul',
 'pul-e khumrī',
 'paghmān',
 'nahrīn',
 'maymana',
 'mehtar lām',
 'mazār-e sharīf',
 'lashkar gāh',
 'kushk',
 'kunduz',
 'khōst',
 'khulm',
 'khāsh',
 'khanabad',
 'karukh',
 'kandahār',
 'kabul',
 'jalālābād',
 'jabal os saraj',
 'herāt',
 'ghormach',
 'ghazni',
 'gereshk',
 'gardēz',
 'fayzabad',
 'farah',
 'kafir qala',
 'charikar',
 'barakī barak',
 'bāmyān',
 'balkh',
 'baghlān',
 'ārt khwājah',
 'āsmār',
 'asadābād',
 'andkhōy',
 'bāzārak',
 'markaz-e woluswalī-ye āchīn',
 'saint john’s',
 'the valley',
 'sarandë',
 'kukës',
 'korçë',
 'gjirokastër',
 'elbasan',
 'burrel',
 'vlorë',
 'tirana',
 'shkodër',
 'patos fshat',
 'lushnjë',
 'lezhë',
 'laç',
 'kuçovë',
 'krujë',
 'kavajë',
 'fier-çifçi',
 'fier',
 'durrës',
 'berat',
 'kapan',
 'goris',
 'hats’avan',
 'artashat',
 'ararat',
 'yerevan',
 'ejmiatsin',
 'spitak',
 'sevan',
 'masis',
 'vanadzor',
 'gavarr',
 'hrazdan',
 'armavir',
 'gyumri',
 'ashtarak',
 'abovyan',
 'saurimo',
 'lucapa',
 'luau',
 'uíge',
 'soio',
 'nzeto',
 'n’dalatando',
 'mbanza congo',
 'malanje',
 'luanda',
 'caxito',
 'cabinda',
 'sumbe',
 'namibe',
 'menongue',
 'luena',
 'lubango',
 'longonjo',
 'lobito',
 'cuito',
 'huambo',
 'catumbela',
 'catabola',
 'camacupa',
 'caluquembe',
 'caála',
 'benguela',
 'zárate',
 'villa ocampo',
 'villa lugano',
 'villaguay',
 'villa gesell',
 'tigre',
 'tandil',
 'san vicente',
 'santo tomé',
 'santa elena',
 'san pedro',
 'san luis del palmar',
 'san lorenzo',
 'san javier',
 'san isidro',
 'saladas',
 'retiro',
 'resistencia',
 'reconquista',
 'quilmes',
 'puerto rico',
 'puerto iguazú',
 'puerto esperanza',
 'puerto eldorado',
 'posadas',
 'pontevedra',
 'pirané',
 'paso de los libres',
 'oberá',
 'necochea',
 'morón',
 'monte caseros',
 'montecarlo',
 'mercedes',
 'mercedes',
 'mar del plata',
 'luján',
 'la plata',
 'la paz',
 'jardín américa',
 'gualeguaychú',
 'gualeguay',
 'goya',
 'gobernador ingeniero valentín virasoro',
 'general josé de san martín',
 'garupá',
 'formosa',
 'fontana',
 'federal',
 'esquina',
 'el soberbio',
 'dolores',
 'curuzú cuatiá',
 'corrientes',
 'concordia',
 'concepción del uruguay',
 'colegiales',
 'chajarí',
 'campana',
 'buenos aires',
 'barranqueras',
 'azul',
 'avellaneda',
 'aristóbulo del valle',
 'zapala',
 'yerba buena',
 'villa regina',
 'villa paula de sarmiento',
 'villa nueva',
 'villa maría',
 'villa dolores',
 'villa constitución',
 'villa carlos paz',
 'villa ángela',
 'villa allende',
 'viedma',
 'victoria',
 'vera',
 'venado tuerto',
 'veinticinco de mayo',
 'ushuaia',
 'unquillo',
 'tres isletas',
 'tres arroyos',
 'trelew',
 'termas de río hondo',
 'tartagal',
 'tafí viejo',
 'sunchales',
 'santo tomé',
 'santiago del estero',
 'santa rosa',
 'santa lucía',
 'santa fe de la vera cruz',
 'san salvador de jujuy',
 'san ramón de la nueva orán',
 'san rafael',
 'san pedro',
 'san nicolás de los arroyos',
 'san miguel de tucumán',
 'san martín de los andes',
 'san martín',
 'san luis',
 'san justo',
 'san juan',
 'san josé de jáchal',
 'san jorge',
 'san francisco',
 'san fernando del valle de catamarca',
 'san antonio oeste',
 'salta',
 'rufino',
 'rosario',
 'río tercero',
 'río segundo',
 'río gallegos',
 'río cuarto',
 'río ceballos',
 'rawson',
 'rafaela',
 'quitilipi',
 'punta alta',
 'puerto madryn',
 'presidencia roque sáenz peña',
 'pocito',
 'plottier',
 'pergamino',
 'pérez',
 'paraná',
 'palpalá',
 'olavarría',
 'nueve de julio',
 'neuquén',
 'morteros',
 'monteros',
 'mendoza',
 'marcos juárez',
 'machagai',
 'lincoln',
 'libertador general san martín',
 'las breñas',
 'la rioja',
 'la falda',
 'la calera',
 'laboulaye',
 'junín',
 'joaquín v. gonzález',
 'jesús maría',
 'granadero baigorria',
 'gobernador gálvez',
 'general roca',
 'general pinedo',
 'general pico',
 'general enrique mosconi',
 'gálvez',
 'firmat',
 'famaillá',
 'esquel',
 'esperanza',
 'embarcación',
 'embalse',
 'el bolsón',
 'diamante',
 'deán funes',
 'cutral-có',
 'cruz del eje',
 'crespo',
 'cosquín',
 'coronel suárez',
 'coronda',
 'córdoba',
 'comodoro rivadavia',
 'cipolletti',
 'cinco saltos',
 'chivilcoy',
 'chimbas',
 'chilecito',
 'charata',
 'chacabuco',
 'centenario',
 'caucete',
 'catriel',
 'castelli',
 'casilda',
 'carcarañá',
 'capitán bermúdez',
 'cañada de gómez',
 'caleta olivia',
 'bell ville',
 'bella vista',
 'bahía blanca',
 'arroyo seco',
 'arroyito',
 'añatuya',
 'alta gracia',
 'allen',
 'alderetes',
 'albardón',
 'aguilares',
 'villa santa rita',
 'villa mercedes',
 'san carlos de bariloche',
 'adrogué',
 'pago pago',
 'wolfsberg',
 'wiener neustadt',
 'vienna',
 'wels',
 'weinzierl bei krems',
 'villach',
 'traun',
 'traiskirchen',
 'ternitz',
 'steyr',
 'spittal an der drau',
 'schwechat',
 'sankt pölten',
 'salzburg',
 'saalfelden am steinernen meer',
 'mödling',
 'lustenau',
 'linz',
 'leonding',
 'leoben',
 'kufstein',
 'krems an der donau',
 'klosterneuburg',
 'klagenfurt am wörthersee',
 'kapfenberg',
 'innsbruck',
 'hallein',
 'graz',
 'feldkirch',
 'dornbirn',
 'bregenz',
 'braunau am inn',
 'baden',
 'amstetten',
 'ansfelden',
 'whyalla',
 'rockingham',
 'prospect',
 'port hedland',
 'perth',
 'murray bridge',
 'mount isa',
 'morphett vale',
 'mandurah',
 'kwinana',
 'kalgoorlie',
 'gosnells',
 'geraldton',
 'gawler',
 'fremantle',
 'darwin',
 'busselton',
 'bunbury',
 'armadale',
 'alice springs',
 'albany',
 'adelaide',
 'woodridge',
 'wodonga',
 'werribee',
 'warrnambool',
 'wantirna south',
 'wangaratta',
 'wagga wagga',
 'traralgon',
 'townsville',
 'toowoomba',
 'thornbury',
 'thomastown',
 'tarneit',
 'taree',
 'tamworth',
 'sydney',
 'surfers paradise',
 'sunnybank',
 'sunbury',
 'port stephens',
 'springvale',
 'southport',
 'south grafton',
 'shepparton',
 'seaford',
 'saint kilda',
 'saint albans',
 'rowville',
 'rockhampton',
 'richmond',
 'reservoir',
 'queanbeyan',
 'quakers hill',
 'preston',
 'port macquarie',
 'point cook',
 'pakenham south',
 'orange',
 'nowra',
 'northcote',
 'noble park',
 'newcastle',
 'nerang',
 'narre warren',
 'narangba',
 'mulgrave',
 'mount martha',
 'mount gambier',
 'mount eliza',
 'mosman',
 'mornington',
 'morayfield',
 'moe',
 'mill park',
 'mildura',
 'melton',
 'melbourne',
 'maryborough',
 'marrickville',
 'maroubra',
 'maitland',
 'mackay',
 'liverpool',
 'lismore',
 'lilydale',
 'launceston',
 'lara',
 'langwarrin',
 'lalor',
 'keysborough',
 'kew',
 'katoomba',
 'hornsby',
 'hobart',
 'hawthorn south',
 'hampton park',
 'griffith',
 'greensborough',
 'granville',
 'goulburn',
 'gold coast',
 'glenroy',
 'glenferrie',
 'gladstone',
 'geelong',
 'frankston east',
 'frankston',
 'forster',
 'essendon',
 'epping',
 'epping',
 'engadine',
 'eltham',
 'echuca',
 'earlwood',
 'dubbo',
 'doncaster east',
 'doncaster',
 'devonport',
 'deer park',
 'deception bay',
 'dandenong',
 'cronulla',
 'cranbourne',
 'cranbourne',
 'craigieburn',
 'coffs harbour',
 'coburg',
 'clayton',
 'wollongong',
 'cessnock',
 'castle hill',
 'carrum downs',
 'carnegie',
 'carlingford',
 'caringbah',
 'canberra',
 'camberwell',
 'caloundra',
 'cairns',
 'caboolture',
 'burnie',
 'bundaberg',
 'buderim',
 'brunswick',
 'broken hill',
 'brisbane',
 'boronia',
 'blacktown',
 'berwick',
 'bendigo',
 'baulkham hills',
 'bathurst',
 'banora point',
 'bankstown',
 'ballarat',
 'auburn',
 'ashfield',
 'armidale',
 'albury',
 'south brisbane',
 'cheltenham',
 'randwick',
 'dee why',
 'umina',
 'palmerston',
 'bracken ridge',
 'north ryde',
 'hoppers crossing',
 'logan city',
 'carindale',
 'paramatta',
 'ferntree gully',
 'city of parramatta',
 'adelaide hills',
 'canning vale',
 'glenmore park',
 'glen iris',
 'balwyn north',
 'carnegie',
 'malvern east',
 'brighton east',
 'booval',
 'st albans',
 'endeavour hills',
 'clayton',
 'taylors lakes',
 'roxburgh park',
 'wyndham vale',
 'willetton',
 'thornbury',
 'thornlie',
 'hillside',
 'bundoora',
 'forest lake',
 'sunnybank hills',
 'narre warren south',
 'dandenong north',
 'frankston south',
 'sunshine west',
 'altona meadows',
 'west pennant',
 'oranjestad',
 'babijn',
 'angochi',
 'mariehamn',
 'xankandi',
 'əhmədbəyli',
 'shushi',
 'salyan',
 'saatli',
 'neftçala',
 'nakhchivan',
 'lankaran',
 'imishli',
 'fizuli',
 'dzhalilabad',
 'pushkino',
 'beylagan',
 'astara',
 'şirvan',
 'ağdam',
 'zaqatala',
 'zabrat',
 'yevlakh',
 'yelenendorf',
 'xaçmaz',
 'ujar',
 'terter',
 'sumqayit',
 'qaraçuxur',
 'shamkhor',
 'shamakhi',
 'sheki',
 'sabunçu',
 'sabirabad',
 'qusar',
 'quba',
 'haciqabul',
 'qazax',
 'haci zeynalabdin',
 'mingelchaur',
 'maştağa',
 'mardakan',
 'lökbatan',
 'kyurdarmir',
 'khirdalan',
 'yeni suraxani',
 'geoktschai',
 'hövsan',
 'ganja',
 'divichibazar',
 'buzovna',
 'biny selo',
 'barda',
 'bilajari',
 'baku',
 'amirdzhan',
 'aghsu',
 'ağdaş',
 'agdzhabedy',
 'bakixanov',
 'zenica',
 'visoko',
 'velika kladuša',
 'tuzla',
 'trebinje',
 'travnik',
 'sarajevo',
 'prijedor',
 'mostar',
 'gradačac',
 'gračanica',
 'goražde',
 'doboj',
 'cazin',
 'bugojno',
 'brčko',
 'bosanska krupa',
 'bijeljina',
 'bihać',
 'banja luka',
 'konjic',
 'bridgetown',
 'thākurgaon',
 'teknāf',
 'tungi',
 'sylhet',
 'dohār',
 'jamālpur',
 'shibganj',
 'sātkhira',
 'sirājganj',
 'netrakona',
 'narsingdi',
 'sandwīp',
 'shāhzādpur',
 'rāmganj',
 'rājshāhi',
 'pirojpur',
 'panchagarh',
 'patiya',
 'parbatipur',
 'nārāyanganj',
 'nālchiti',
 'nāgarpur',
 'nageswari',
 'mymensingh',
 'muktāgācha',
 'mirzāpur',
 'maulavi bāzār',
 'morrelgonj',
 'mehendiganj',
 'mathba',
 'lalmanirhat',
 'lākshām',
 'comilla',
 'rangpur',
 'kushtia',
 'kālīganj',
 'jhingergācha',
 'joypur hāt',
 'ishurdi',
 'habiganj',
 'gaurnadi',
 'gafargaon',
 'feni',
 'rāipur',
 'sarankhola',
 'dhaka',
 'chilmāri',
 'chhāgalnāiya',
 'lālmohan',
 'khagrachhari',
 'chhātak',
 'bhātpāra abhaynagar',
 'bherāmāra',
 'bhairab bāzār',
 'bāndarban',
 'kālia',
 'baniachang',
 'bājitpur',
 'badarganj',
 'narail',
 'tungipāra',
 'sarishābāri',
 'sakhipur',
 'raojān',
 'phultala',
 'pālang',
 'pār naogaon',
 'nabīnagar',
 'lakshmīpur',
 'kesabpur',
 'hājīganj',
 'farīdpur',
 'dinājpur',
 'uttar char fasson',
 'chittagong',
 'char bhadrāsan',
 'bera',
 'burhānuddin',
 'sātkania',
 'cox’s bāzār',
 'khulna',
 'bhola',
 'barisāl',
 'jessore',
 'pābna',
 'tāngāil',
 'bogra',
 'pīrgaaj',
 'nawābganj',
 'mādārīpur',
 'sherpur',
 'kishorganj',
 'manikchari',
 'bhāndāria',
 'fatikchari',
 'saidpur',
 'azimpur',
 'paltan',
 'zwijndrecht',
 'zwevegem',
 'zottegem',
 'zonhoven',
 'zoersel',
 'zemst',
 'zele',
 'zedelgem',
 'zaventem',
 'wuustwezel',
 'willebroek',
 'wevelgem',
 'wetteren',
 'westerlo',
 'wervik',
 'wavre',
 'waterloo',
 'waregem',
 'walcourt',
 'visé',
 'vilvoorde',
 'verviers',
 'turnhout',
 'tubize',
 'tournai',
 'torhout',
 'tongeren',
 'tienen',
 'tielt',
 'tessenderlo',
 'tervuren',
 'temse',
 'stekene',
 'stabroek',
 'soumagne',
 'soignies',
 'sint-truiden',
 'sint-pieters-leeuw',
 'sint-niklaas',
 'sint-kruis',
 'sint-katelijne-waver',
 'sint-gillis-waas',
 'sint-genesius-rode',
 'seraing',
 'schoten',
 'schilde',
 'saint-nicolas',
 'saint-ghislain',
 'rotselaar',
 'ronse',
 'roeselare',
 'rixensart',
 'riemst',
 'ranst',
 'quaregnon',
 'puurs',
 'putte',
 'poperinge',
 'pont-à-celles',
 'péruwelz',
 'peer',
 'overijse',
 'oupeye',
 'oudenaarde',
 'oostkamp',
 'ostend',
 'nivelles',
 'ninove',
 'nijlen',
 'neerpelt',
 'namur',
 'mouscron',
 'mortsel',
 'morlanwelz-mariemont',
 'mons',
 'mol',
 'middelkerke',
 'merelbeke',
 'menen',
 'meise',
 'mechelen',
 'marche-en-famenne',
 'manage',
 'maldegem',
 'maasmechelen',
 'maaseik',
 'louvain-la-neuve',
 'londerzeel',
 'lommel',
 'lokeren',
 'lochristi',
 'lille',
 'lier',
 'liège',
 'leuven',
 'lessines',
 'lede',
 'lebbeke',
 'lanaken',
 'la louvière',
 'kortrijk',
 'kortenberg',
 'kontich',
 'koksijde',
 'knokke-heist',
 'kasterlee',
 'kapellen',
 'kalmthout',
 'izegem',
 'ieper',
 'huy',
 'houthalen',
 'hoogstraten',
 'hoboken',
 'heusden',
 'herzele',
 'herve',
 'herstal',
 'herentals',
 'herent',
 'helchteren',
 'heist-op-den-berg',
 'hasselt',
 'harelbeke',
 'hamme',
 'halle',
 'haaltert',
 'grimbergen',
 'geraardsbergen',
 'gent',
 'genk',
 'gembloux',
 'geel',
 'frameries',
 'fleurus',
 'fléron',
 'flémalle-haute',
 'evergem',
 'eupen',
 'essen',
 'eeklo',
 'edegem',
 'duffel',
 'dour',
 'dilbeek',
 'diksmuide',
 'diest',
 'diepenbeek',
 'destelbergen',
 'dendermonde',
 'denderleeuw',
 'deinze',
 'courcelles',
 'colfontaine',
 'chaudfontaine',
 'châtelet',
 'chasse royale',
 'charleroi',
 'brussels',
 'brugge',
 'brecht',
 'brasschaat',
 'braine-le-comte',
 "braine-l'alleud",
 'boussu',
 'bornem',
 'boom',
 'blankenberge',
 'binche',
 'bilzen',
 'beveren',
 'beringen',
 'beersel',
 'beerse',
 'balen',
 'ath',
 'asse',
 'arlon',
 'antwerpen',
 'ans',
 'andenne',
 'aarschot',
 'aalter',
 'aalst',
 'zorgo',
 'yako',
 'tougan',
 'titao',
 'tenkodogo',
 'réo',
 'pô',
 'ouahigouya',
 'ouagadougou',
 'nouna',
 'manga',
 'léo',
 'koupéla',
 'koudougou',
 'kongoussi',
 'kombissiri',
 'kokologo',
 'kaya',
 'houndé',
 'gourcy',
 'garango',
 "fada n'gourma",
 'dori',
 'djibo',
 'diapaga',
 'dédougou',
 'boussé',
 'boulsa',
 'bobo-dioulasso',
 'banfora',
 'gaoua',
 'orodara',
 'yambol',
 'vratsa',
 'vidin',
 'velingrad',
 'veliko tŭrnovo',
 'varna',
 'targovishte',
 'troyan',
 'dobrich',
 'svishtov',
 'svilengrad',
 'stara zagora',
 'dupnitsa',
 'sofia',
 'smolyan',
 'sliven',
 'silistra',
 'shumen',
 'sevlievo',
 'sandanski',
 'samokov',
 'ruse',
 'razgrad',
 'rakovski',
 'popovo',
 'plovdiv',
 'pleven',
 'petrich',
 'peshtera',
 'pernik',
 'pazardzhik',
 'panagyurishte',
 ...]

In [219]:
for location in locations:
    flag = 0
    if "nan" == location:
        flag = 1
        country_column.append("NA")
    else:   
        split1 = re.split(', | ',location)
        for word in split1:
            if word in city_country:
                country_column.append(city_country[word])
                flag = 1
                break
    if(not flag):
        split2 = re.split(", ",location)
        for word in split2:
            if word in city_country:
                country_column.append(city_country[word])
                flag = 1
                break
    if(not flag):
        split3 = re.findall("[A-Za-z]*[ ]*[a-z]*",location)
        for word in split3:
            if word in city_country:
                country_column.append(city_country[word])
                flag = 1
                break
                
    if(not flag):
        country_column.append("NA")

In [220]:
len(country_column)-country_column.count("NA")

19912

In [221]:
len(country_column)

41349

In [222]:
wfh["country"] = country_column

In [223]:
len(wfh)

41349

In [224]:
wfh

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,hashtags,timestamp,text,screen_name,likes,retweets,compound,Sentiment,monthName,dayName,dayOfMonth,Text_cleaned,location,country
0,0,0,0,0,"['WorkFromHome', 'MakeMoneyOnlinepic']",2020-02-22 23:54:16,[BLOGPOST] Use this 7-Step Webinar Framework f...,davidndana,1,0,0.0000,Neutral,February,Saturday,22,"['blogpost', 'use', 'step', 'webinar', 'framew...","Chapala, Jalisco Mexico",mexico
1,1,1,1,1,"['remotejobs', 'workfromhome']",2020-02-22 23:50:02,StubHub is looking for remote Customer Service...,NotNowMomsBusy,2,2,0.3818,Positive,February,Saturday,22,"['stubhub', 'looking', 'remote', 'customer', '...","Houston, Texas",united states
2,2,2,2,2,"['WorkFromHome', 'WorkatHome', 'remotework']",2020-02-22 23:47:44,**MA/RI OPPORTUNITY**\n\nINSIDE SALES-WORK FRO...,WorkAtHomeWrap,1,0,0.7865,Positive,February,Saturday,22,"['mari', 'opportunity', 'inside', 'saleswork',...",NaN,NA
3,3,3,3,3,"['Surveys', 'paidsurveys', 'surveysformoney', ...",2020-02-22 23:43:21,Fast and easy way to make extra money online s...,Darksith100,0,0,0.7418,Positive,February,Saturday,22,"['fast', 'easy', 'way', 'make', 'extra', 'mone...",United Kingdom,united kingdom
4,4,4,4,4,"['MakeMoney', 'WorkFromHome']",2020-02-22 23:37:15,Which Strategies Do You Use to Make Money in Y...,davidndana,0,0,0.0000,Neutral,February,Saturday,22,"['strategies', 'use', 'make', 'money', 'home',...","Chapala, Jalisco Mexico",mexico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41344,41344,41344,41344,41344,[],2020-05-03 19:36:06,The Hellboyverse and The Hammerverse are reall...,GhosttGray,47,7,0.8742,Positive,May,Sunday,3,"['hellboyverse', 'hammerverse', 'really', 'dre...",NaN,NA
41345,41345,41345,41345,41345,"['wfh', 'workfromhome', 'quarantine', 'quarant...",2020-05-03 19:35:45,Me super busy with my WFH life that I hang out...,TanyaAttri,0,0,0.7269,Positive,May,Sunday,3,"['super', 'busy', 'wfh', 'life', 'hang', 'balc...",NaN,NA
41346,41346,41346,41346,41346,[],2020-05-03 19:35:36,"Kal khulega... stay safe, stay healthy and tom...",AmitArora04,1,0,0.4939,Positive,May,Sunday,3,"['kal', 'khulega', 'stay', 'safe', 'stay', 'he...",Noida,india
41347,41347,41347,41347,41347,[],2020-05-03 19:35:27,Can go to work if not able to wfh and you can ...,Marc_Cassidy,0,0,0.0000,Neutral,May,Sunday,3,"['go', 'work', 'able', 'wfh', 'keep', 'sociall...",NaN,NA
41348,41348,41348,41348,41348,"['WFH', 'Posturepic']",2020-05-03 19:35:05,"Motion is lotion, the perfect posture doesn't ...",ARTIIreland,3,1,0.8479,Positive,May,Sunday,3,"['motion', 'lotion', 'perfect', 'posture', 'do...",Ireland,ireland

In [225]:
wfh.to_csv('../Datasets/WFH_all.csv')

In [226]:
wfh = pd.read_csv("../Datasets/WFH_all.csv")

In [227]:
wfh

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,hashtags,timestamp,text,screen_name,likes,retweets,compound,Sentiment,monthName,dayName,dayOfMonth,Text_cleaned,location,country
0,0,0,0,0,0,"['WorkFromHome', 'MakeMoneyOnlinepic']",2020-02-22 23:54:16,[BLOGPOST] Use this 7-Step Webinar Framework f...,davidndana,1,0,0.0000,Neutral,February,Saturday,22,"['blogpost', 'use', 'step', 'webinar', 'framew...","Chapala, Jalisco Mexico",mexico
1,1,1,1,1,1,"['remotejobs', 'workfromhome']",2020-02-22 23:50:02,StubHub is looking for remote Customer Service...,NotNowMomsBusy,2,2,0.3818,Positive,February,Saturday,22,"['stubhub', 'looking', 'remote', 'customer', '...","Houston, Texas",united states
2,2,2,2,2,2,"['WorkFromHome', 'WorkatHome', 'remotework']",2020-02-22 23:47:44,**MA/RI OPPORTUNITY**\n\nINSIDE SALES-WORK FRO...,WorkAtHomeWrap,1,0,0.7865,Positive,February,Saturday,22,"['mari', 'opportunity', 'inside', 'saleswork',...",NaN,NaN
3,3,3,3,3,3,"['Surveys', 'paidsurveys', 'surveysformoney', ...",2020-02-22 23:43:21,Fast and easy way to make extra money online s...,Darksith100,0,0,0.7418,Positive,February,Saturday,22,"['fast', 'easy', 'way', 'make', 'extra', 'mone...",United Kingdom,united kingdom
4,4,4,4,4,4,"['MakeMoney', 'WorkFromHome']",2020-02-22 23:37:15,Which Strategies Do You Use to Make Money in Y...,davidndana,0,0,0.0000,Neutral,February,Saturday,22,"['strategies', 'use', 'make', 'money', 'home',...","Chapala, Jalisco Mexico",mexico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41344,41344,41344,41344,41344,41344,[],2020-05-03 19:36:06,The Hellboyverse and The Hammerverse are reall...,GhosttGray,47,7,0.8742,Positive,May,Sunday,3,"['hellboyverse', 'hammerverse', 'really', 'dre...",NaN,NaN
41345,41345,41345,41345,41345,41345,"['wfh', 'workfromhome', 'quarantine', 'quarant...",2020-05-03 19:35:45,Me super busy with my WFH life that I hang out...,TanyaAttri,0,0,0.7269,Positive,May,Sunday,3,"['super', 'busy', 'wfh', 'life', 'hang', 'balc...",NaN,NaN
41346,41346,41346,41346,41346,41346,[],2020-05-03 19:35:36,"Kal khulega... stay safe, stay healthy and tom...",AmitArora04,1,0,0.4939,Positive,May,Sunday,3,"['kal', 'khulega', 'stay', 'safe', 'stay', 'he...",Noida,india
41347,41347,41347,41347,41347,41347,[],2020-05-03 19:35:27,Can go to work if not able to wfh and you can ...,Marc_Cassidy,0,0,0.0000,Neutral,May,Sunday,3,"['go', 'work', 'able', 'wfh', 'keep', 'sociall...",NaN,NaN
41348,41348,41348,41348,41348,41348,"['WFH', 'Posturepic']",2020-05-03 19:35:05,"Motion is lotion, the perfect posture doesn't ...",ARTIIreland,3,1,0.8479,Positive,May,Sunday,3,"['motion', 'lotion', 'perfect', 'posture', 'do...",Ireland,ireland

In [228]:
len(wfh)

41349

In [229]:
locations = [str(string).lower() for string in list(ol['location'])]

In [230]:
country_column = []

In [231]:
for location in locations:
    flag = 0
    if "nan" == location:
        flag = 1
        country_column.append("NA")
    else:   
        split1 = re.split(', | ',location)
        for word in split1:
            if word in city_country:
                country_column.append(city_country[word])
                flag = 1
                break
    if(not flag):
        split2 = re.split(", ",location)
        for word in split2:
            if word in city_country:
                country_column.append(city_country[word])
                flag = 1
                break
    if(not flag):
        split3 = re.findall("[A-Za-z]*[ ]*[a-z]*",location)
        for word in split3:
            if word in city_country:
                country_column.append(city_country[word])
                flag = 1
                break
                
    if(not flag):
        country_column.append("NA")

In [232]:
country_column.count("NA")

22976

In [233]:
ol['country'] = country_column

In [234]:
ol

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,index,hashtags,timestamp,text,screen_name,likes,retweets,compound,Sentiment,monthName,dayName,dayOfMonth,Text_cleaned,location,country
0,0,0,0,0,"['essay', 'someone', 'pay', 'assignment', 'hom...",2020-02-19 23:58:54,The quality of essay we write is coupled with ...,Chastewriters,0,0,0.5267,Positive,February,Wednesday,19.0,"['quality', 'essay', 'write', 'coupled', 'fair...","New York, USA",united kingdom
1,1,1,1,1,[],2020-02-19 23:54:28,Let us help with your college algebra ! Check ...,mathexperts1,0,0,0.4574,Positive,February,Wednesday,19.0,"['let', 'us', 'help', 'college', 'algebra', 'c...",NaN,NA
2,2,2,2,2,"['business', 'Math', 'Algebra', 'Calculus', 'S...",2020-02-19 23:54:00,Hello there! Kindly HMU for; \n#business law\n...,Ewritingservic2,1,0,0.4753,Positive,February,Wednesday,19.0,"['hello', 'kindly', 'hmu', 'business', 'law', ...",washington,united kingdom
3,3,3,3,3,"['helloworld', 'Math', 'Algebra', 'Calculus', ...",2020-02-19 23:50:59,#helloworld\n#Math\n#Algebra\n#Calculus\n#Stat...,freelancers01,0,0,-0.1027,Negative,February,Wednesday,19.0,"['helloworld', 'math', 'algebra', 'calculus', ...",United States 🇺🇲🇬🇧🇦🇷,united states
4,4,4,4,4,"['business', 'Math', 'Algebra', 'Calculus', 'S...",2020-02-19 23:49:12,Hello there! Kindly HMU for; \n#business law\n...,alicesolution07,0,0,0.4753,Positive,February,Wednesday,19.0,"['hello', 'kindly', 'hmu', 'business', 'law', ...",United States 🇺🇸,united states
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40757,40757,40757,40751,13664,[],2020-06-26 19:37:26,Ok this corona virus is getting out of hand no...,Emmanuella26_,1,0,0.4404,Positive,June,Friday,26.0,"['ok', 'corona', 'virus', 'getting', 'hand', '...",NaN,NA
40758,40758,40758,40752,13665,[],2020-06-26 19:37:19,We do online stats classes\nOnline homework\nA...,ONLINESTATSCLA1,0,0,0.2500,Positive,June,Friday,26.0,"['online', 'stats', 'classes', 'online', 'home...",United States,united states
40759,40759,40759,40753,13666,[],2020-06-26 19:37:18,I’m sorry but it’s no point of us coming back ...,xabria_,22,2,-0.7622,Negative,June,Friday,26.0,"['sorry', 'point', 'us', 'coming', 'back', 'sl...","Michigan, USA",united states
40760,40760,40760,40754,13667,[],2020-06-26 19:37:03,I wouldn’t feel as comfortable if I went to th...,XVGWhaleReal,0,0,0.5106,Positive,June,Friday,26.0,"['feel', 'comfortable', 'went', 'hospital', 'd...",Pluuuutoh!,NA
40761,40761,40761,40755,13668,['heyanto'],2020-06-26 19:36:52,@ntvkenya_live tuned in....i am a form 4 stude...,ObwochaAnnan,1,0,0.2144,Positive,June,Friday,26.0,"['ntvkenyalive', 'tuned', 'ini', 'form', 'stud...",NaN,NA

In [235]:
ol.to_csv("../Datasets/OL.csv")

In [236]:
ol = pd.read_csv("../Datasets/OL.csv")

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (3,4,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [239]:
ol

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,index,hashtags,timestamp,text,screen_name,likes,retweets,compound,Sentiment,monthName,dayName,dayOfMonth,Text_cleaned,location,country
0,0,0,0,0,0,"['essay', 'someone', 'pay', 'assignment', 'hom...",2020-02-19 23:58:54,The quality of essay we write is coupled with ...,Chastewriters,0,0,0.5267,Positive,February,Wednesday,19.0,"['quality', 'essay', 'write', 'coupled', 'fair...","New York, USA",united kingdom
1,1,1,1,1,1,[],2020-02-19 23:54:28,Let us help with your college algebra ! Check ...,mathexperts1,0,0,0.4574,Positive,February,Wednesday,19.0,"['let', 'us', 'help', 'college', 'algebra', 'c...",NaN,NaN
2,2,2,2,2,2,"['business', 'Math', 'Algebra', 'Calculus', 'S...",2020-02-19 23:54:00,Hello there! Kindly HMU for; \n#business law\n...,Ewritingservic2,1,0,0.4753,Positive,February,Wednesday,19.0,"['hello', 'kindly', 'hmu', 'business', 'law', ...",washington,united kingdom
3,3,3,3,3,3,"['helloworld', 'Math', 'Algebra', 'Calculus', ...",2020-02-19 23:50:59,#helloworld\n#Math\n#Algebra\n#Calculus\n#Stat...,freelancers01,0,0,-0.1027,Negative,February,Wednesday,19.0,"['helloworld', 'math', 'algebra', 'calculus', ...",United States 🇺🇲🇬🇧🇦🇷,united states
4,4,4,4,4,4,"['business', 'Math', 'Algebra', 'Calculus', 'S...",2020-02-19 23:49:12,Hello there! Kindly HMU for; \n#business law\n...,alicesolution07,0,0,0.4753,Positive,February,Wednesday,19.0,"['hello', 'kindly', 'hmu', 'business', 'law', ...",United States 🇺🇸,united states
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40757,40757,40757,40757,40751,13664,[],2020-06-26 19:37:26,Ok this corona virus is getting out of hand no...,Emmanuella26_,1,0,0.4404,Positive,June,Friday,26.0,"['ok', 'corona', 'virus', 'getting', 'hand', '...",NaN,NaN
40758,40758,40758,40758,40752,13665,[],2020-06-26 19:37:19,We do online stats classes\nOnline homework\nA...,ONLINESTATSCLA1,0,0,0.2500,Positive,June,Friday,26.0,"['online', 'stats', 'classes', 'online', 'home...",United States,united states
40759,40759,40759,40759,40753,13666,[],2020-06-26 19:37:18,I’m sorry but it’s no point of us coming back ...,xabria_,22,2,-0.7622,Negative,June,Friday,26.0,"['sorry', 'point', 'us', 'coming', 'back', 'sl...","Michigan, USA",united states
40760,40760,40760,40760,40754,13667,[],2020-06-26 19:37:03,I wouldn’t feel as comfortable if I went to th...,XVGWhaleReal,0,0,0.5106,Positive,June,Friday,26.0,"['feel', 'comfortable', 'went', 'hospital', 'd...",Pluuuutoh!,NaN
40761,40761,40761,40761,40755,13668,['heyanto'],2020-06-26 19:36:52,@ntvkenya_live tuned in....i am a form 4 stude...,ObwochaAnnan,1,0,0.2144,Positive,June,Friday,26.0,"['ntvkenyalive', 'tuned', 'ini', 'form', 'stud...",NaN,NaN

In [240]:
re.findall("[A-Za-z]*[ ]*[a-z]*",locations[3])[0]

'united states'

In [241]:
city_country['united states']

'united states'

In [242]:
re.findall("[A-Za-z ]*",locations[3])[0]

'united states '